.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px blue,
  0 0 82px blue,
  0 0 92px blue,
  0 0 102px blue,
  0 0 151px blue;
}
