.container section {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: rgba(33, 33, 33, 0.795);
  padding: 5px 30px;
  border-radius: 10px;
  border: 1px solid rgb(155, 155, 155);
  color: white;
  margin-top: 45px;
}

.loginImg {
  background-image: url(../../../public/background1.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
