.container {
  align-content: center;
  text-align: center;
  border: 1px solid black;
  height: 150px;
  width: 50%;
  padding-top: 10px;
  color: white;
  background-color: #807182;
  text-decoration: none;
  border-radius: 5px;
}

