.container {
  align-content: center;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgba(234, 192, 114, 0.096);
  text-decoration: none;
  border-radius: 10px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/card-back.jpg');
  background-size: cover;
  width: 180px;
  height: 250px;
}
.link {
margin: 10px;
}

