.container{
  flex-direction: column;
  display: flex;
  align-items: center;
  /* overflow: scroll; */
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.container button {
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  background-color: #85bAA1;
  color: white;
  width: 40%;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 15px;
}


.cardDiv {
  margin: 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.cardDiv > div{
  width: fit-content;
  padding: 5px;
}

.cardDiv > div > img {
  max-width: 223px;
  max-height: 310px;
  border-radius: 10px;
}

span > a{
  text-decoration: none;
  width: 40%;
  text-align: center;
  color: white;
  background-color: #85bAA1;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
}

span {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

section {
  background-color: lightgray;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
}