* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  padding-top: 80px;
  background-color: whitesmoke;
}

