.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}



.container form {
  width: 100%;
  padding: 10px;
}

.container select{
  width: 100%;
  padding: 10px 8px;
}

.container form button {
  width: 100%;
}

.container button {
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  background-color: #85bAA1;
  color: white;
  width: 100%;
}



.container div img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

